{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add user</title>

 

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    function addUser(ele) {
        window.location.href = '/addUserToDb?friend_id='+ele.getAttribute('value')+'&user_id='+document.getElementById("user_id").innerHTML;
    }
    function myFunction() {
        word = document.getElementById("input");
        //user_id = document.getElementById("user_id");
        var url =  '/getUsers?word='+word.value+'&user_id='+document.getElementById("user_id").innerHTML;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var root = document.getElementsByClassName('list-group');
                $(root).empty();
                var data = JSON.parse(xhttp.responseText);
                for(var i=0;i<data.length;i++){
                    var list = document.createElement("LI");
                    list.className = 'list-group-item';
                    var name_text = document.createTextNode(data[i][1]);
                    var email = document.createElement("span");
                    email.className = 'badge';
                    var email_text = document.createTextNode(data[i][2]);
                    list.appendChild(name_text);
                    email.appendChild(email_text);
                    list.appendChild(email);
                    list.setAttribute("value",data[i][0]);
                    list.setAttribute("onclick","addUser(this)");
                    document.getElementById("users_list").appendChild(list);
                }
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }
</script>
</head>
<body>
<form name = "form" method="POST">
    {% csrf_token %}
    <p id = 'user_id' hidden >{{user_id}}</p>
    <p id = 'friend_id' hidden></p>
<div class="container">
  <h2>List Group With Badges</h2>
  <br>
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
    aria-label="Search" onkeyup="myFunction()" id = "input">
  <i class="fas fa-search" aria-hidden="true"></i>
  <ul class="list-group" id = "users_list">
  </ul>
</div>
</form>
</body>
</html>












<!--
<!DOCTYPE HTML>
<html>

<head>
    <title>Add user</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'addUser.css'%}">
    <script type="text/javascript">
        $(document).ready(function() {
            $("ul[id*=ul] li").click(function() {
                var name=$(this).html();
                document.getElementById("myInput").value=name.slice(3,name.length-4);
                document.forms['form'].action = '/addUserToDb';
                document.forms['form'].submit();
            });
        });
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("ul");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
    <style>
          #myInput {
            border-radius: 10px;
            width: 500px;
            height: 30px;
            color: black;
            margin-left: -65px;
          }
          
          #ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-left: -50px;
          }
          
          #ul li a {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color:cornsilk;
            padding: 5px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;
            height: 30px;
          }
          
          #ul li a:hover:not(.header) {
            background-color: #eee;
          }
    </style>
</head>

<body>
    <form method="POST" name='form'>
    {% csrf_token %}
    <h3>Click on the name to add</h3>
    <input type="text" id="myInput" name="user" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    <p></p>
    <ul id="ul">
        {%for user in users%}
            <li><a>{{user.username}}</a></li>
        {%endfor%}
    </ul>
</form>
</body>

</html>
-->




