{% load static %}
{% static "media/pics" as baseUrl %}
<html>

<head>
    <title>Splitwise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        function loadChat(temp_this) {
            var a = document.getElementsByName("temp_text");
            a[0].value = temp_this.querySelector('b').innerHTML;
            document.forms['form'].action = '/loadChat/'+a[0].value;
            document.forms['form'].submit();
        }

        function add_user() {
            window.location.href = "/getUsersForAddingUser";
        }

        function add_group() {
            window.location.href = "/getUsersForAddingGroup";
        }

        function sendMsge() {
            if(document.getElementById("msg").value == ""){
                alert("message is mandatory!!!");
            }
            else{
                var a = document.getElementsByName("temp_text");
                a[0].value = document.getElementById("friend_name").innerHTML;
                document.forms['form'].action = '/saveMsgToDb';
                document.forms['form'].submit();
            }
        }
        function clearChat(){
            window.location.href="/clearChat/"+document.getElementById("friend_name").innerHTML;
        }

        function groupGivings(){
            window.location.href = "/groupGivings/"+document.getElementById("friend_name").innerHTML;
        }
    </script>
    <style>
        #send{
            margin-top: 40;
        }
        .wa-chat{
            background-image:url(/static/background.jpeg);
        }
        #red{
            margin-left: 100;
            color: red;
        }
        #green{
            margin-left: 100;
            color: green;
        }
        #add{
            margin-left: -10;
        }
        #addGroup{
            margin-left: -48;
        }
        #individual_red{
            margin-left: 100;
            margin-top: 100;
            color: red;
        }
        #individual_green{
            margin-left: 100;
            margin-top: 100;
            color: green;
        }
        #clear{
            width: 60px;
            margin-left: 100px;
            background-color: red;
        }
        #givings{
            width: 110px;
            margin-left: 10px;
            background-color: chocolate;
        }
    </style>
</head>

<body>
    <form name="form" method="POST" style="overflow-x: hidden;">
        {% csrf_token %}
        <input name="temp_text" type="text" hidden>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="row wa-navbar">
                        <div class="col-8">
                            <img src="" class="rounded-circle" />
                            <b>{{user}}</b>
                        </div>
                        <div class="col-2">
                            <i id="addGroup" class="large material-icons wa-icon" onclick="add_group()">group</i>
                        </div>
                        <div class="col-2">
                            <i id="add" class="large material-icons wa-icon" onclick="add_user()">add</i>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 wa-contatos">
                            {% if give is not None %}
                                <b id="red">TOTAL = - {{give}}</b> 
                            {% elif receive is not None %}
                                <b id="green">TOTAL = + {{receive}}</b>
                            {% endif %}
                            <br/>
                            <b>Friends</b>
                        </div>
                    </div>
                    
                    {% for friend in friends%}
                    <div class="row wa-item-chat" onclick="loadChat(this)">
                        <div class="col-2">
                            <img src="" alt="dp" class="rounded-circle" />
                        </div>
                        <div class="col-8">
                            <b id="hi">{{friend}}</b><br />
                        </div>
                    </div>
                        <hr />
                    {%endfor%}
                    <br/>
                        <b>Groups</b>
                    {% for group in groups%}
                    <div class="row wa-item-chat" onclick="loadChat(this)">
                        <div class="col-2">
                            <img src="" alt="dp" class="rounded-circle" />
                        </div>
                        <div class="col-8">
                            <b id="hi">{{group}}</b><br />
                        </div>
                    </div>
                        <hr />
                    {%endfor%}

                </div>
                {% if chat is not None%}
                <div class="col-9">
                    <div class="wa-navbar">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
                                    <img src="" class="rounded-circle" />
                                </div>
                                <div class="col-9">
                                    <div style="margin-top: 10px">
                                        <span id="friend_name" style="font-size: 20px">{{friend}}</span>
                                        {% if give_to_friend is not None %}    
                                        <b id="individual_red">AMOUNT =  - {{give_to_friend}}</b>
                                        {% elif receive_from_friend is not None %}
                                        <b id="individual_green">AMOUNT =  + {{receive_from_friend}}</b>
                                        {%endif%}
                                        {%if group is not None%}
                                        <input type="button" onclick="groupGivings()" value="group givings" name="givings" id="givings">
                                        {%endif%}
                                        <input type="button" onclick="clearChat()" value="clear" name="clear" id="clear">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="wa-chat">
                        <div>
                            {%for msg in messages%}
                            {%if msg.0 == user%}
                            <div class="row">
                                <div class="offset-6 col-5">
                                    <div class="card wa-card-chat wa-card-green">
                                        <b>Me :</b>  {% if msg.2 != 0 %} {{msg.2}}/-{%endif%}  {{msg.3}}  
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-5">
                                    <div class="card wa-card-chat wa-card-default">     
                                        <b>From {{msg.0}} :</b>  {% if msg.2 != 0 %} {{msg.2}}/-{%endif%}  {{msg.3}}
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                            {%endfor%}
                        </div>
                    </div>
                    
                    <div class="wa-panel-texto">
                        <div style="text-align: center">
                            <div class="row">
                                <div class="col-10">
                                    <input id="amnt" name="amnt" type="number" class="form-control wa-input" placeholder="Enter the amount - Default is 0">
                                    <input id="msg" name="msg" class="form-control wa-input" placeholder="Type a message"/>
                                </div>
                                <div class="col-1">
                                    <i id="send" name="send" class="large material-icons wa-icon" onclick="sendMsge()">send</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>

        </div>
    </form>
</body>

</html>
